<% layout('./layouts/boilerplate') %>

<div class="alert alert-danger" role="alert"> <!-- See Bootstrap Alerts -->
    Error Encountered : <%= err %> <!-- err variable is sent from the catch blocks in the routes -->
</div>
