:root{
    --main-color:#0077b6;
}

header, footer{
    background-color: var(--main-color);
    color: #fff;
}

main{
    margin-top: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
}


.products .card img{
    height: 210px;
    padding: 10px;
}

.show-btn{
    background-color: var(--main-color);
    color:white;
}

.show-btn:hover{
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.navbar-brand {
    font-family: "Yeseva One", serif;
    font-size: 2rem;
    letter-spacing: 0.1em;
    color: #fff;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: #fff;
}

.navbar-nav .nav-link, .navbar-nav .nav-link.active {
    color: #fff;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.fa-solid.fa-heart{
    color: red;
}


@media screen and (max-width:560px){
    .reviews-section{
        width: 90vw;
    }
}

/* @media screen and (max-width:460px){
   
    #heading{
        width: 90vw;
    }
} */
